* {
  margin: 0;
  box-sizing: border-box;
}
.header {
  height: 50px;
  width: 100vw;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}
.header img {
  height: 40px;
  width: 8vw;
  margin: 5px 10px;
}
.header a {
  padding: 4px;
  color: #000000;
  text-decoration: none;
  font-size: 12px;
}
.link {
  position: absolute;
  left: 10vw;
  top: 8px;
  /* width: 76vw; */
  /* text-align: center; */
}

.link input {
  width: 45vw;
  height: 35px;
  padding-left: 35px;
  border-radius: 24px;
  background-image: url(./search.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: left;
  background-position-x: 8px;
  background-color: rgba(243, 229, 229, 0.199);
}

.icons {
  position: absolute;
  top: 13px;
  right: 20px;
  /* width: 12vw;
  text-align: right; */
}
.icon {
  padding: 0px 4px;
}
.lupa {
  display: inline-block;
  text-align: center;
}
#icon {
  background-color: rgba(13, 165, 211, 0.363);
  border-radius: 50%;
  padding: 6px 7px;
}
.main {
  margin: auto;
  max-width: 85%;
  clear: both;
  height: 600px;
}
.div1 {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #f2f3f5;
  z-index: 1;
}
.div2 {
  position: absolute;
  height: 100px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  float: left;
  top: 50px;
  left: 30px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.164);
  padding: 10px;
  z-index: 1;
}
.div2 h1 {
  font-size: 26px;
  padding-bottom: 8px;
}
.div1 img {
  position: absolute;
  right: 130px;
  height: 100%;
  width: 35%;
}
.div3 {
  padding: 30px 10px;
}
.div3 h1 {
  display: inline-block;
}
.div3 a {
  float: right;
}
.glavni2 {
  margin: auto;
  width: 810px;
  height: 140px;
  clear: both;
}
.div4 {
  position: relative;
  float: left;
  width: 260px;
  height: 110px;
  border: 1px solid rgba(128, 128, 128, 0.253);
  margin-left: 1%;
}
.clock {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 29%;
}
.clock1 {
  position: absolute;
  font-size: 3.5em;
  top: 25%;
  left: 11%;
}
.content {
  display: inline-block;
  width: 69%;
  left: 30%;
  margin-left: 2%;
  position: absolute;
}
.content h3 {
  font-size: 15px;
  margin: 10px 0px;
}
.content p {
  font-size: 12px;
  margin: 10px 0px;
}
.content a {
  text-decoration: none;
  font-size: 13px;
}
.content .span {
  margin: 15px 0px;
  font-size: 9px;
  color: rgb(96, 96, 96);
}
.x {
  font-size: 10px;
  position: absolute;
  right: 8px;
  top: 5px;
}
