.container {
  display: flex;
  border: 1px solid gray;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  width: 25%;
}
.slika {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 20px;
}
.div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}
.Holden {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding-bottom: 20px;
}
.UI {
  font-size: 16px;
  margin: 0;
}
