.container {
  display: flex;
  border-bottom: 1px solid gray;
  padding: 40px 0;
}
.blogLeft {
  width: 400px;
}
/* .blogRight {
} */
.title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 5px;
}
.subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 5px;
}
.blogTitle {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 5px;
}
.text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 5px;
}
