/* CSS BOX model je box koji okruyuje svaki HTML ELEMENT. */
body{
    margin: 0;
    background-color: #202080;
}
.main {
   /* background-color: rgb(255, 198, 11);*/
    background-color: rgba(255, 198, 30, 0.5);

    /* Opacity svojstvo daje prozirnost nasem elementu*/
    /*opacity: 0.4;*/
    width: 500px;
    height: 400px;
    /* Definisanje margine za sve strane */
    /*margin: 100px;*/
    /* Definisanje margine za svaku stranu posebno
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 100px; */
    /* Definisanje preko margin, gde dodeljujemo vise vrednosti*/
    /*margin: 50px 100px 60px 40px; */
    /* prva vrednost je margin-top, 
    druga margin-right,
     treca margin-bottom, 
     cetvrta margin-left*/
    /*margin: 60px 90px;*/
    /* Prva vrednost je margin-top i margin-bottom,
    druga margin-left, margin-right*/
   /* margin: 60px 90px 120px;*/
    /*margin: auto; centriranje elementa*/
    /*margin: 40px auto;*/
    margin: 60px auto 0px;
    border: 3px solid red;
    border-radius: 20px;
    /*border: 3px outset #ccc;*/
    padding: 15px 30px;
    /*pravila za pading su ista kao za marginu*/


}
.main p:nth-of-type(2):hover {
    font-size: 24px;
    background-color: #fff;
    color: rgb(255, 0, 0);
}
